table {
    width: 500px;
    height: 270px;
    text-align: center;
    border-spacing: 7px;
    border: 1px solid white;
    font-size: 12px;
}
tr {
    color: white;
    background-color: rgb(40, 129, 189);
}
.td-1 {
    width: 50px;
}
.td-2 {
    width: 90px;
}